@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn($width, $bg-color, $color, $bordr-color) {
  @include flex-center();
  width: $width;
  height: 2.2em;
  border-radius: 1.1em;
  background-color: $bg-color;
  color: $color;
  border: 1px solid $border-color;
}
